body{
    font-family: 'Roboto', sans-serif;
}

.raleway{
    font-family: 'Raleway', sans-serif;
}
.fondo{
    background: linear-gradient(90deg,rgb(71, 3, 51)0%,rgba(29,30,31,1)100%);
}

footer i {
    margin: 0px 10px;
    color: #fff;
}
footer i:hover {
    color: #9d97a7;
   
    }
